* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}


header {
    text-align: center;
    padding: 35px 20px;
    background-color: #000;
}


header img {
    width: 130px;
}


header h1 {
    margin-top: 10px;
    color: #d4a017;
    font-size: 36px;
}


header p {
    color: #aaa;
    margin-top: 5px;
}


nav {
    background-color: #222;
    padding: 15px;
    text-align: center;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}


nav a:hover {
    color: #d4a017;
}


main {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}


section {
    margin-bottom: 50px;
}


h2 {
    color: #d4a017;
    margin-bottom: 20px;
}


section > p {
    color: #ccc;
    line-height: 1.6;
}


.camisa {
    text-align: center;
}


.camisa img {
    width: 300px;
    max-width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}


.camisa p {
    color: #aaa;
}



.jogadores {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.jogador {
    width: 180px;
    padding: 20px;
    background-color: #222;
    border: 1px solid #333;
    border-radius: 8px;
    transition: 0.2s;
}


.jogador:hover {
    transform: translateY(-4px);
    border-color: #d4a017;
}


.jogador h3 {
    margin-bottom: 8px;
}


.jogador p {
    color: #aaa;
}


.jogador span {
    display: block;
    margin-top: 8px;
    color: #e57373;
    font-size: 14px;
}


.informacoes {
    text-align: center;
}


.info {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.info div {
    background-color: #222;
    padding: 20px;
    width: 150px;
    border-radius: 8px;
}


.info strong {
    color: #d4a017;
}


.info p {
    font-size: 25px;
    margin-top: 8px;
}


footer {
    background-color: #000;
    text-align: center;
    padding: 25px;
    color: #777;
}


@media (max-width: 600px) {

    header h1 {
        font-size: 30px;
    }


    nav a {
        margin: 5px;
    }


    .jogadores {
        justify-content: center;
    }


    .jogador {
        width: 100%;
    }

}